<div class="bg-gray-50  mx-20  relative  rounded-2xl mb-4">
  <swiper-container init="false">
    <swiper-slide *ngFor="let image of imagenes">
      <img [src]="image" alt="Imagen de slider" class="shadow-lg custom-width custom-height"
        style="width: 100%; height: auto;">
      <!-- <div class="swiper-pagination"></div> -->
    </swiper-slide>

  </swiper-container>
  <!-- <div class="swiper-button-next"></div> -->
  <!-- <div class="swiper-button-prev"></div> -->


  <!-- <div *ngFor="let image of imagenes">
    <img [src]="image" alt="Imagen de slider" style="width: 100%; height: auto;">
  </div> -->
</div>