<section class="bg-gradient-to-b from-gray-300 to-white py-5">



  <div class="grid grid-cols-5 grid-rows-2 gap-4 mx-8 mt-14">
    <div class="col-span-3 row-span-2">
      <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold text-gray-600 mb-4">Reporta Incidentes en Tiempo Real</h1>
        <p class="font-thin text-xl mb-8">Denuncia accidentes, robos o cualquier emergencia directamente a las
          autoridades</p>
        <div class="flex items-center space-x-4 justify-center">
          <a routerLink="/reportar-incidente"
            class="bg-red-600 text-white py-3 px-6 rounded-lg hover:bg-red-700 text-lg">Reporta un
            Incidente</a>
          <img src="assets/images/alarma.png" class="object-cover w-16">
        </div>
      </div>
    </div>
    <div class="col-span-2 relative inline-block row-span-2 col-start-4 group p-4">
      <p class="text-2xl  font-bold  text-gray-700 left-4 mb-2">Enlaces de interes</p>
      <div class="flex space-x-4">
        <img src="assets/images/samu.jpeg" class="object-cover w-14 rounded-full" tooltip="text">

        <img src="assets/images/essalud.png" class="object-cover w-14 rounded-full ">
        <img src="assets/images/bomberos.jpeg" class="object-cover w-14 rounded-full ">
      </div>
    </div>
  </div>



</section>

<app-slider></app-slider>



<section class="py-10 bg-gray-200">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center px-4">
    <div class="py-6 bg-white rounded-lg shadow-lg">
      <img src="assets/images/easy-icon.png" alt="facil" class="mx-auto mb-4 h-16">
      <h3 class="font-bold text-xl mb-2">Fácil de usar</h3>
      <p>Reporta en solo unos minutos</p>
    </div>

    <div class="p-6 bg-white rounded-lg shadow-lg">
      <img src="assets/images/media-icon.png" alt="facil" class="mx-auto h-20">
      <h3 class="font-bold text-xl mb-2">Adjunta fotos/videos</h3>
      <p>Envia tu evidencia visual para mayor claridad</p>
    </div>

    <div class="p-6 bg-white rounded-lg shadow-lg">
      <img src="assets/images/trackin-ico.png" alt="Tracking" class="mx-auto mb-4 h-16">
      <h3 class="font-bold text-xl mb-2">Seguimiento en Tiempo Real</h3>
      <p>Monitorea el estado de tu denuncia en cualquier momento.</p>
    </div>

  </div>
</section>