/* Animación de escala */
.bg-gradient-custom {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
}



@keyframes scaleUp {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

/* Transición de escala */
.scale-up {
  animation: scaleUp 0.3s ease-in-out;
}
