<section class="py-10">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-6">Cómo Funciona</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-white p-6 shadow-lg rounded-lg">
        <img src="step1-icon.png" class="mx-auto mb-4" alt="Paso 1">
        <h3 class="font-bold text-xl mb-2">Paso 1: Regístrate</h3>
        <p>Crea una cuenta fácilmente usando tu correo electrónico.</p>
      </div>
      <div class="bg-white p-6 shadow-lg rounded-lg">
        <img src="step2-icon.png" class="mx-auto mb-4" alt="Paso 2">
        <h3 class="font-bold text-xl mb-2">Paso 2: Reporta</h3>
        <p>Describe el incidente y sube las fotos o videos correspondientes.</p>
      </div>
      <div class="bg-white p-6 shadow-lg rounded-lg">
        <img src="step3-icon.png" class="mx-auto mb-4" alt="Paso 3">
        <h3 class="font-bold text-xl mb-2">Paso 3: Envía</h3>
        <p>Envía tu reporte y revisa su estado en cualquier momento.</p>
      </div>
    </div>
  </div>
</section>









<section class="bg-gray-100 py-10">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-6">Lo que dicen nuestros usuarios</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mr-4 ml-4">
      <div class="bg-green-500 bg-opacity-15 p-3 shadow-lg rounded-lg">
        <p class="text-green-700 italic mb-4">"Es muy fácil reportar incidentes desde el móvil, y la policía actuó
          rápido."</p>
        <h3 class="font-bold  text-lg">Juan Pérez</h3>
      </div>
      <div class="bg-white p-3 shadow-lg rounded-lg">
        <p class="text-gray-700 italic mb-4">"Pude adjuntar fotos de la situación, lo cual ayudó mucho."</p>
        <h3 class="font-bold text-lg">Ana García</h3>
      </div>
      <div class="bg-white p-3 shadow-lg rounded-lg">
        <p class="text-gray-700 italic mb-4">"El seguimiento en tiempo real es una excelente característica."</p>
        <h3 class="font-bold text-lg">Luis Rodríguez</h3>
      </div>
    </div>
  </div>
</section>